.heading{
  font-size: 24px;
}
.top-nav-active{
  color: black!important;
  font-weight: bold;
}

.error{
  position: absolute;
  top: -110%; left: 31%;
  padding: 1% 20%;
  border-radius: 3px;
  background-color: aliceblue;
  color: crimson;
  display: none;
}
